@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/morris.js"></script>
<script src="~/Scripts/morris.min.js"></script>
<link href="~/Content/morris.css" rel="stylesheet" />
@Styles.Render("~/Content/morrisCSS")
@Styles.Render("~/Scripts/morris.js")



<body>
    <div id="box2">
        <div>
            <p style="position: center">
                <h1 style="font-weight: bold">Monthly Budget: $@ViewBag.TotalBudget</h1>
                <h1 style="font-weight: bold">Monthly Budget Spent: $@ViewBag.SpentBudget</h1>
                <h1 style="font-weight: bold">Monthly Budget Remaining: $@ViewBag.RemainingBudget</h1>


            </p>
            <div id="completedDonut"></div>
            <script>
                $.ajax({
                    url: '/Home/BudgetChart/',
                    type: "POST",
                    dataType: "json",
                    success: function (result) {
                        Morris.Donut({
                            element: 'completedDonut',
                            formatter: function (value, data) { return '$' + (value) },
                            data: result,
                            height: 20,
                            wide: 20,
                            labelColor: 'rgba(0, 0, 0)',
                            colors: [
                                '#A9F5A9',
                                '#5882FA',
                                '#FA5882',
                                '#F3F781',
                                '#FAAC58',
                                '#D0A9F5'
                            ],
                        });
                    },
                    error: function () {
                        alert("Error loading data! Please try again.");
                    }
                });
            </script>
        </div>
    </div>
</body>

<body>
    <div id="box2">
        <div>
            <p style="position: center">
                <h1 style="font-weight: bold">Budget Breakdown</h1>
            </p>
            <div id="completedBarStacked"></div>
            <script>
                $.ajax({
                    url: '/Home/BudgetBarStacked/',
                    type: "POST",
                    dataType: "json",
                    success: function (result) {
                        Morris.Bar({
                            element: 'completedBarStacked',
                            //stacked: true,
                            data: result,
                            xkey: 'xkey',

                            ykeys: ['ykey1', 'ykey2'],
                            labels: ['Remaining', 'Spent'],
                            barColors: ['#FA5882', '#2E9AFE'],
                        });
                    },
                    error: function () {
                        alert("Error loading data! Please try again.");
                    }
                });
            </script>
        </div>
    </div>
</body>

